:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  text-align: center;
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.app-link {
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;

  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-paragraph {
  display: flex;
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.5;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.row {
  margin: 30px 15px;
}

.app-heading {
  margin: 25px 0px;
  font-size: 48px;
}

@media (max-width: 576px) {
  body {
    padding: 0 10px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }
  .large-image {
    display: none;
  }

  .app-heading {
    font-size: 38px;
  }

  .app-link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
